@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "poppins", sans-serif;

}

body {
    background-color: black;
}


.main {
    background-image: url("assets/images/bg.jpg");
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.70;
    background-color: black;
    position: absolute;
    top: 0;


}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    height: 100px;


}

nav img {
    width: 150px;
    position: relative;
    z-index: 10;

}

nav button {
    position: relative;
    z-index: 10;
}

.text {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;
    gap: 20px;
    padding: 0 20px;
}

.text> :nth-child(1) {
    font-weight: 900;
    font-size: 56px;
    line-height: 70px;
    text-align: center;

}

.text> :nth-child(2) {
    font-weight: 900;
    font-size: 56px;
    line-height: 70px;
    text-align: center;
}

.text> :nth-child(3) {
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
    text-align: center;
}

.text> :nth-child(4) {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}



.line {

    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 6px 15px;
    font-weight: 400;
    border-radius: 4px;
    background-color: #2120207b;
    color: white;
    border-radius: 4px;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 11px 25px;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;

}

.btn-red-sm {
    background-color: red;
    color: white;
    cursor: pointer;
}

.main input {
    padding: 7px 104px 22px 13px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    background-color: #212020db;
    color: white;
    border: 1px solid rgba(246, 238, 238, 0.5);



}

.text-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}




.sec-Img {
    position: relative;
}

.sec-Img img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.sec-Img video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    padding: 34px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;

}

.first>div :nth-child(2) {
    font-size: 28px;


}

.faq {
    background-color: black;
    color: white;
    padding: 34px;

}

.faq :hover {
    background-color: #414141;
}

.faq-box svg {
    filter: invert(1);
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq-box {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    max-width: 60vw;
    margin: 34px auto;
    padding: 24px;
    cursor: pointer;

}

.text-2 {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;
    gap: 20px;
    padding: 0 20px;
    margin-bottom: 40px;


}

.text-2> :nth-child(1) {

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.a1 input {
    padding: 0px 104px 22px 13px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    background-color: #212020db;
    color: white;
    border: 1px solid rgba(246, 238, 238, 0.5);

}

footer {
    max-width: 60vw;
    margin: auto;
    color: white;
    padding: 14px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;

}

.bottom-button {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 6px 15px;
    font-weight: 400;
    border-radius: 4px;
    background-color: #2120207b;
    background: black;
    color: white;
    border-radius: 4px;

}
.bottom-button .btn{
    padding-left: 20px;

}


div a {
    font-size: 14px;
    color: white;
}

.questions{
    padding-bottom: 25px;
}



/* media query: */

@media screen and (max-width: 1300px) {

    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .sec-Img img {
        width: 305px;
    }

    .sec-Img video {
        width: 305px;
    }

    .text> :nth-child(1) {
        font-size: 32px;
    }

    .text> :nth-child(2) {
        font-size: 18px;
    }

    .text> :nth-child(3) {
        font-size: 18px;
    }

    .text-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }


}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}